<!DOCTYPE html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122821934-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122821934-1');
    </script>
    <meta charset="UTF-8">
    <title>wangzongyan</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='../css/style.css'>
</head>

<body>
    <div id = 'main'>
        <div class = 'container'>
           <div class="row"> 
                <!-- nav bar -->
                    <nav class="col-md-2 col-xs-2 d-none d-md-block bg-light sidebar">
                        <div class="sidebar-sticky">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">About</a>
                        </li>
                            <br>
                            <a class="nav-link" href="project.html">Projects</a>
                            <br>
                            <a class="nav-link active" href="blog.html">Blog</a>
                            <br>
                            <a class="nav-link" href="contact.html">Contact</a>
                        </div>    
                        </nav>
                         
                            
                    <!-- content -->
                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                        <!-- fill in content -->
                        <div class = 'row'>
                             <div class="card col-md-3 ml-sm-auto col-lg-3 m-1">
                                  <img class="card-img-top m-1" src="../pic/ml/ml.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">ML</h5>
                                    <p class="card-text">My Blogs for Machine Learning</p>
                                    <a href="ML/index.html" class="btn btn-primary">Go</a>
                                  </div>
                             </div>  

                             <div class="card col-md-3 ml-sm-auto col-lg-3 m-1">
                                  <img class="card-img-top m-1" src="../pic/python/python.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Python</h5>
                                    <p class="card-text">My Blogs for Python</p>
                                    <a href="python/index.html" class="btn btn-primary">Go</a>
                                  </div>
                             </div> 
                          </div> 
                    </main>
        </div>
    </div>


</body>
</html>